/* Taruh ini di awal file CSS Anda */


.kaisei {
    font-family: 'Kaisei Decol', serif;
}


.openSans {
    font-family: 'Open Sans', sans-serif;
}


.kanit {
    font-family: 'Kanit', sans-serif;
}
